<!DOCTYPE html>
<html>
  <head>
    <title>RunteqInsta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="p-3 mb-3 border-bottom">
    <div class="col-md-11 text-end">
      <%= link_to '写真投稿', new_post_path, class: "btn btn-secondary" %> 
      <% if current_user %>
        <%= link_to "Logout", :logout, method: :post,class: "btn btn-secondary" %>
      <% else %>
        <%= link_to "Login", :login, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </header>
      <%= yield %>
  </body>
</html>
